/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
/Maven__commons_collections_commons_collections_3_2_1.xml
/Maven__commons_logging_commons_logging_1_1_1.xml
/Maven__junit_junit_4_12.xml
/Maven__org_apache_commons_commons_lang3_3_4.xml
/Maven__org_codehaus_groovy_groovy_all_2_4_1.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_spockframework_spock_core_1_0_groovy_2_4.xml
